@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    object-fit: contain;
}

body {
    background-color: #f5f5f7;
}

.boxshad {
    box-shadow: 2px 4px 12px #00000014;
}

#card {
    transition: all .3s cubic-bezier(0, 0, .5, 1);
}

#card:hover {
    box-shadow: 2px 4px 16px #00000029;
    transform: scale3d(1.01, 1.01, 1.01);
}

@media screen and (max-width: 767px) {
    #app {
        flex-direction: column;
    }
}